<%- include('partials/header.ejs') %>
<div class="col-12">
    <h1 class="mt-1">Dashboard</h1>
    <h4>Welcome</h4>
    <form method="POST" action="/logout">
        <button type="submit" class="btn btn-dark">Log Out</button>
    </form>
</div>
<%- include('partials/footer.ejs') %>